---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
  font-family: 'Fira Sans', 'Noto Sans KR', sans-serif;
  line-height: 1.6;
  }

  .post-content h2 { 
    font-size: 22px; 
    font-weight: 700;
  }
  .post-content h3 { 
    font-size: 19px;
    font-weight: 700;
  }
  .post-content h4 { 
    font-size: 16px;
    font-weight: 700;
  }
  .post-list h3 { 
    font-size: 19px;
  }

  pre, code {
    font-family: 'Cousine', monospace;
  }  

  pre { padding: 0px; }
  table { margin-bottom: 0px; }

blockquote { 
  font-style: normal;
  font-size: 16px; 
  padding-left: 30px; 
  padding-right: 30px; 
  color: #111; 
  border-left: 0; 
  letter-spacing: 0;
  }

em {
  font-style: italic;
}

.highlight { background-color: #FFFF40; }

form.tipue_search_right {
  max-width: 210px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

form.tipue_search_right input#tipue_search_input {
  padding: 8px;
  background: none;
  border: none;
  // border-bottom: 1px solid #e3e3e3;
  float: left;
  color: #333;
  padding-right: 30px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

form.tipue_search_right input#tipue_search_input:focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow .333s ease;
  -webkit-transition: box-shadow .333s ease;
  -moz-transition: box-shadow .333s ease;
  -ms-transition: box-shadow .333s ease;
  -o-transition: box-shadow .333s ease;
}

form.tipue_search_right button {
  position: absolute;
  background: none;
  border: none;
  color: #e3e3e3;
  right: 25px;
  margin-top: 9px;
  cursor: pointer;
  // font-size: 12px;
}

/* Clear floats */
form.tipue_search_right::after {
  content: "";
  clear: both;
  display: table;
}

img[alt=Me] { width: 300px; height: auto; border-radius: 5px;}